@CHARSET "UTF-8";

/*header*/
body #header.sticky-header .logo{
	width:1312px;
	margin/*\**/: -10px 0 0 0 \9 !important;
}
body #header.sticky-header .logo a{
	float:left;
	/*margin: -3px 0 0 0 !important;*/
}
body #header.sticky-header .logo .goods_logo a{
	margin: -54px 0 0 0 !important;
}
body #header.sticky-header .goods_logo a{
	background: url('images/img/header/headerlogo.png');
    width: 237px;
    height: 48px;
}
body #header.sticky-header .goods_logo{
	float: right;
	/* margin: -50px 0 0 0; */
	display: inline-block;
	position: relative;
}
body #header.sticky-header {
	background-image: url('images/img/header/header_bg.png') !important;
	background-repeat: no-repeat !important;
	/*height: 71px;*/
	height: 60px;
	width: 100%;
	background-position:center top !important;
}
#header {
	height: 71px;
	padding: 0 !important;
	display: block !important;
}
#header .avada-row {
	height: 71px !important;
	width: 100%;
	max-width:980px;
}
.avada-row:after {
	/*clear: none !important;*/
}
/*Logo*/
div#wrapper div.header-wrapper div.header-v1 header#header div.avada-row div.logo a img.normal_logo {
	height: 65px !important;

}
body #header.sticky-header .logo,
body #header.sticky-header .logo a
body #header.sticky-header #nav > li > a {
	/* height: 80px !important;
	line-height: 80px !important; */
	max-width: 100%;
	/* margin: 5px 0 0 0 !important; */
}
.logo,
.footer-area {
	background-size: contain;
}
#wrapper .avada-row .logo {
	display: block !important;
}
/*Menu*/



li.menu-item a {
	/*height: 71px !important;*/
}
li#menu-item-53.menu-item a,
li#menu-item-51.menu-item a,
li#menu-item-52.menu-item a,
li#menu-item-50.menu-item a,
li#menu-item-54.menu-item a,
li.menu-item-53.menu-item a,
li.menu-item-51.menu-item a,
li.menu-item-52.menu-item a,
li.menu-item-54.menu-item a,
li.menu-item-50.menu-item a  {
	-moz-opacity: 0;
	opacity:0;
	filter: alpha(opacity=0);
	/*width:146px;*/
	/*max-width: none;*/
	
}

/* header size ----------- */
nav#nav.nav-holder ul#nav.menu {
	margin: 0 auto !important;
	width: 600px !important;
	height: 62px !important;
}
#nav ul li {
	padding: 0px !important;
	background-size: contain !important;
}
/* @media screen and (max-width: 1050px) {
	#nav ul li {
		height : 31px;
	}
}
.menu-item-50 {
	background: url('images/img/header/header_game.png') no-repeat !important;
	width: 120px;
}
.menu-item-50:hover {
	background: url('images/img/header/hover_header_game.png') no-repeat !important;
}
.menu-item-53 {
	background: url('images/img/header/header_manga.png') no-repeat;
	width: 120px;
}
.menu-item-53:hover{
	background: url('images/img/header/hover_header_manga.png') no-repeat;
}
.menu-item-51 {
	background: url('images/img/header/header_anime.png') no-repeat;
	width: 120px;
}
.menu-item-51:hover {
	background: url('images/img/header/hover_header_anime.png') no-repeat;
}
.menu-item-54 {
	background: url('images/img/header/header_omocha.png') no-repeat;
	width: 120px;
}
.menu-item-54:hover {
	background: url('images/img/header/hover_header_omocha.png') no-repeat;
}
.menu-item-52 {
	background: url('images/img/header/header_hoby.png') no-repeat;
	width: 120px;
}
.menu-item-52:hover {
	background: url('images/img/header/hover_header_hobby.png') no-repeat;
}

@media screen and (max-width: 1050px) {
	
	div#sticker{
		position:relative!important;
		top:0px!important;	
	}
	
	
	nav#nav {
		margin-top: -5px; !important;
	}
	
	nav#nav.nav-holder ul#nav.menu {
		margin: 0 auto !important;
		width: 320px !important;
		height : 30px !important;
	}
	
	.menu-item-50 {
		background: url('images/img/header/mobile/global_menu/header_game.png') no-repeat !important;
		width: 60px;
	}
	.menu-item-50:hover {
		background: url('images/img/header/mobile/hover/hover_header_game.png') no-repeat !important;
	}
	.menu-item-53 {
		background: url('images/img/header/mobile/global_menu/header_manga.png') no-repeat;
		width: 60px;
	}
	.menu-item-53:hover{
		background: url('images/img/header/mobile/hover/hover_header_manga.png') no-repeat;
	}
	.menu-item-51 {
		background: url('images/img/header/mobile/global_menu/header_anime.png') no-repeat;
		width: 60px;
	}
	.menu-item-51:hover {
		background: url('images/img/header/mobile/hover/hover_header_anime.png') no-repeat;
	}
	.menu-item-54 {
		background: url('images/img/header/mobile/global_menu/header_omocha.png') no-repeat;
		width: 60px;
	}
	.menu-item-54:hover {
		background: url('images/img/header/mobile/hover/hover_header_omocha.png') no-repeat;
	}
	.menu-item-52 {
		background: url('images/img/header/mobile/global_menu/header_hoby.png') no-repeat;
		width: 60px;
	}
	.menu-item-52:hover {
		background: url('images/img/header/mobile/hover/hover_header_hobby.png') no-repeat;
	}
	
} */

/*Footer*/
footer.footer-area {
	-webkit-background-size: 1349px 29px;
	   -moz-background-size: 1349px 29px;
		 -o-background-size: 1349px 29px;
		    background-size: 1349px 29px;
	background-color: #FFFFFF !important;
	border-color: #FFFFFF !important;
	background-size: contain;
}
/* smartphone size ----------- */


/* @media only screen and (max-width: 1050px){
	body div#undefined.dd-container {
		display: none !important;
	}
	body .nav-holder ul, .top-menu .menu {
		display: block !important;
		width: 100% !important;
		text-align:center !important;
		margin:0 !important;
		margin-left: auto;
		margin-right: auto;
	}
}
#si debar div{
	 margin-bottom:15px; 
}
*/


/*@media screen and (max-width: 1050px) {
	#posts-container {
		margin : 0 auto !important;
		width: 730px !important;
	}
	
	#sidebar > div {
		margin : 0 auto !important;
		width: 240px !important;
	}
	
	.footer-widget-col .textwidget {
		margin : 0 auto !important;
		width: 175px !important;
	}
	
	#main {
		padding-bottom: 0 !important;
	}
	
	body.home div#wrapper div#main div.avada-row div#sticker{
		margin-left:0px !important;
	}
	.header-wrapper {
		height: 91px !important;
	}
	
}

 @media screen and (max-width: 768px) {
	#posts-container {
		margin : 0 auto !important;
		width: 360px !important;
	}
	body {
		overflow-y: scroll !important;
		overflow-x: hidden !important;
	}
}
@media screen and (max-width: 386px) {
	.footer-area {
		background-image: url("../../../../wp-content/themes/Avada/images/img/footer/smartphone_footer.png") !important;
		background-repeat: no-repeat !important;
		-webkit-background-size: 352px 29px;
		-moz-background-size: 352px 29px;
		-o-background-size: 352px 29px;
		 background-size: 352px 29px;
	}
	
	.avada-row {
		padding: 0 !important;
	}
} */

#header .normal_logo { display:inline !important; }
eat: no-repeat !important;
		-webkit-background-size: 352px 33px;
		-moz-background-size: 352px 33px;
		-o-background-size: 352px 33px;
		 background-size: 352px 33px;
	}
}

#header .normal_logo { display:inline !important; }


/* @media screen and (max-width: 1050px) {
	#header .nav-holder {
		position: absolute;
		top :65px !important;
		left: 50%;
		margin-left : -150px !important;
	}
} */

#header .nav-holder {
	display: none !important;
}

.footer-widget-col  {
	float : left;
	margin : 5px;
}
.footer-widget-col h3 {
	display:none;
}
.columns-4 .col {
	width:100% !important;
	padding: 0 !important;
	margin : 0 auto !important;
}
.footer-widget-col div.textwidget div a img {
	width: 160px;
	height:40px;
}
/* @media screen and (max-width: 1050px) {
	.columns-4 {
		width:200px !important;
		margin : 0 auto !important;
	}
	.columns-4 .col {
		width:320px !important;
		margin : 0 auto !important;
	}
	.footer-widget-col  {
		float : left;
		width:100% !important;
		margin : 0 auto !important;
	}
} */
/*ie8 bug fix*/
@media \0screen{
	.header-v1 .avada-row {
        display:block !important;
    }
    .header-v1 .face{
        margin-top:0px !important;
    }
    #wrapper .avada-row .logo,.avada-row nav#nav{
        display:none; 
    }
    /*header*/
    .header-v1{
       background-image: url('images/img/header/header_bg.png');
       height:60px;
       background-position:center top;
    }
    #wrapper .avada-row{
        margin-top:10px;
        
    }
    .header-v1 .goods_logo1 a{
	    background-image: url('images/img/header/headerlogo.png');
	    width: 237px;
	    height: 48px;
	    display:block;
    }
    .header-v1 .goods_logo1{
	    float: right;
	    margin: -50px 0 0 0;
	    display: inline-block;
	    position: relative;
    }
    .header-v1 .face{
        background-image: url('images/img/header/logo_face.png');
        width:240px;
        height:60px;
        margin-top:-30px;
    }
    .header-v1{
        background: rgba(255,255,255,0.97) !important;
		margin: 0;
		position: fixed;
		top: 0;
		left: 0;
		width:100%;
		padding:0;
		z-index: 99998;
		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
		-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    }
    #main{
        margin:60px 0 0 0 !important;
    }
    .header-v1 .avada-row{
        max-width:980px !important;
    }
    .header-v1 .goods_logo1{
        margin: -55px 0 0 0 !important;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.header-v1 .avada-row{
	   display:none !important;
	}
}
@-moz-document url-prefix() {
	.header-v1 .avada-row {
		display:none;
	}
}
@media all\0 {
	.header-v1 .avada-row {
	    display:none;
	}
}