/*Menu*/
.side1{
	background:url('images/img/home/side1.png');
	width:252px;
	height:143px;
	display: inline-block;
}
.page_item_menu1{
	background:url('images/img/home/menu1.png');
	width:239px;
	height:39px;
	display: inline-block;
}
.page_item_menu1:hover{
    background:url('images/img/home/menu_hover1.png');
    cursor:pointer;
}
.page_item_menu1.current{
	background:url('images/img/home/menu_hover1.png');
	cursor:pointer;
}
.page_item_menu2{
    background:url('images/img/home/menu2.png');
    width:239px;
    height:39px;
    display: inline-block;
}
}
.page_item_menu2.current, .page_item_menu2.slug{
    background:url('images/img/home/menu_hover2.png');
}
.page_item_menu2:hover{
    background:url('images/img/home/menu_hover2.png');
    cursor:pointer;
}
.page_item_menu3{
    background:url('images/img/home/menu3.png');
    width:239px;
    height:39px;
    display: inline-block;
}
.page_item_menu3.current,.page_item_menu3.slug{
    background:url('images/img/home/menu_hover3.png');
}
.page_item_menu3:hover{
    background:url('images/img/home/menu_hover3.png');
    cursor:pointer;
}
.page_item_menu4{
    background:url('images/img/home/menu4.png');
    width:239px;
    height:39px;
    display: inline-block;
}
.page_item_menu4.current,.page_item_menu4.slug{
    background:url('images/img/home/menu_hover4.png');
}
.page_item_menu4:hover{
    background:url('images/img/home/menu_hover4.png');
    cursor:pointer;
}
.page_item_menu5{
    background:url('images/img/home/menu5.png');
    width:239px;
    height:39px;
    display: inline-block;
}
.page_item_menu5.current,.page_item_menu5.slug{
    background:url('images/img/home/menu_hover5.png');
}
.page_item_menu5:hover{
    background:url('images/img/home/menu_hover5.png');
    cursor:pointer;
}
.page_item_menu6{
    background:url('images/img/home/menu6.png');
    width:239px;
    height:39px;
    display: inline-block;
}
.page_item_menu6.current,.page_item_menu6.slug{
    background:url('images/img/home/menu_hover6.png');
}
.page_item_menu6:hover{
    background:url('images/img/home/menu_hover6.png');
    cursor:pointer;
}
.page_item_menu7{
    background:url('images/img/home/menu7.png');
    width:239px;
    height:39px;
    display: inline-block;
}
.page_item_menu7.current,.page_item_menu7.slug{
    background:url('images/img/home/menu_hover7.png');
}
.page_item_menu7:hover{
    background:url('images/img/home/menu_hover7.png');
    cursor:pointer;
}
.page_item_menu8{
    background:url('images/img/home/menu8.png');
    width:239px;
    height:39px;
    display: inline-block;
}
.page_item_menu8.current,.page_item_menu8.slug{
    background:url('images/img/home/menu_hover8.png');
}
.page_item_menu8:hover{
    background:url('images/img/home/menu_hover8.png');
    cursor:pointer;
}
.page_item_menu9{
    background:url('images/img/home/menu9.png');
    width:239px;
    height:39px;
    display: inline-block;
}
.page_item_menu9.current,.page_item_menu9.slug{
    background:url('images/img/home/menu_hover9.png');
}
.page_item_menu9:hover{
    background:url('images/img/home/menu_hover9.png');
    cursor:pointer;
}
.page_item_menu10{
    background:url('images/img/home/menu10.png');
    width:239px;
    height:39px;
    display: inline-block;
}
.page_item_menu10.current,.page_item_menu10.slug{
    background:url('images/img/home/menu_hover10.png');
}
.page_item_menu10:hover{
    background:url('images/img/home/menu_hover10.png');
    cursor:pointer;
}
.page_item_menu11{
    background:url('images/img/home/menu11.png');
    width:239px;
    height:39px;
    display: inline-block;
}
.page_item_menu11.current,.page_item_menu11.slug{
    background:url('images/img/home/menu_hover11.png');
}
.page_item_menu11:hover{
    background:url('images/img/home/menu_hover11.png');
    cursor:pointer;
}
.page_item_menu12{
    background:url('images/img/home/menu12.png');
    width:239px;
    height:39px;
    display: inline-block;
}
.page_item_menu12.current,.page_item_menu12.slug{
    background:url('images/img/home/menu_hover12.png');
}
.page_item_menu12:hover{
    background:url('images/img/home/menu_hover12.png');
    cursor:pointer;
}
/*Sidebar*/
.goods_menu {
    margin-top: 10px;
}
.nkb{
    margin-top:40px;
    background: url('images/img/home/side_banner_test.gif');
    width: 241px;
    height: 103px;
}
.nyan{
    margin-top:40px;
    background: url('images/img/home/jibanyan.png');
    width: 249px;
    height: 288px;
}
#sidebar{
	float:left !important;
}
/*detail page*/
tr td{
	display:block;
	padding:10px
}
.right{
	float:right;
}
.right p{
	margin:0px;
}
.left{
	float:left;
}
.share-box, .about-author, .related-posts, .section, .single-navigation, .comment-container, .page-title-container, .meta-info{
	display:none;
}
/*.fb_edge_widget_with_comment {
	overflow:hidden;
	width: 69px !important;
	margin-right:4px
}*/
.fb_edge_widget_with_comment {
	overflow: hidden !important;
}
.single_top_pad {
	margin-top: -12px;
}
.social_but {
	margin-right: -3px;
}
::i-block-chrome,.fb_edge_widget_with_comment {
	top:-6px !important;
}
iframe#twitter-widget-0 {
	margin-left: 4px !important;
}
iframe#twitter-widget-0.twitter-share-button {
	margin-bottom: 6px;
	width: 89px !important;
}
p.single-line-meta {
	margin-top: -6px !important;
}
.post{
	overflow:hidden;
	border-left:0px!important;
	border:3px solid rgb(85, 121, 245);
/* 	border-bottom:3px solid rgb(85, 121, 245); */
	background:url("images/bg_goods.png");
	display: block;
	padding: 31px 37px 0px 37px;
	/* margin-bottom:138px; */
	
/* 	margin-right: 10px; */
}
#content{
	width:720px;	
}
.w390h280{
	/*width: 390px;*/
	height: 280px;
}
.detail_img{
	margin: 15px 0;
}
#sidebar{
	padding: 0px;
	margin: 0;
	display:inline-flex;
}
footer.footer-area div.footer-widget-col div.textwidget div a img {
	margin-top: 8px !important;
}
footer.footer-area div.avada-row  {
	max-width: 852px !important;
}

.greyback{
	background-color:#E0E0E0;
	padding: 0 5px;
	display:table;
	margin:-20px 0 0 0;
	background-size:contain;
	width : 230px;
}
.greyback table {
	display:table;
	margin:0 0 15px 0;
}
.greyback table tr td {
	font-size: 12px;
	width : 210px;
}
.greyback table tr.border {
	border-top:2px solid white;
}
#sidebar img{
	border-style:none;
	vertical-align:top;
	max-width:240px;
	height:auto;
}


.flexslider .slides > li{
	display: block;
	position: absolute;
	left: 60%;
	top: 30px;
	width: 40%;
}
.detail_img .mb25{
	margin-bottom:25px;
}
.post-content, .entry-title a, .post .meta-info{
	/*padding: 0 0 0 15px;*/
}
.cat_img{
	/*padding: 10px 0 0 15px;*/
	height: 30px;
	margin: 0 0 10px 0;
}
.single-line-meta{
	margin:0px;
	text-align: right;
}
.rght_date{
	/*padding: 0 0 0 100px;*/
	text-align: right;
}
.single_post_border_2 {
	margin-top: 15px !important;
}
.entry-title a{
	font-weight: bolder;
	font-size:25px;
}
.entry-title{
	line-height: 38px;
	margin-top: 0px;
	margin-bottom: 35px;
}
.single_post_border_1 .entry-title a{
	color: #009fe6 !important;
}
.single_post_border_2 .entry-title a{
	color: #ff9900 !important;
}
#main .avada-row{
	/* background-image:url("images/img/home/goods_bg.png"); */
	/* padding-right: 10px; */
	/*max-width: 1047px;*/
	padding-bottom: 50px;
	width: 980px;
	max-width:980px;
}
.flexslider .slides > li{
	margin: 0 0 0 -15px;
}
#wrapper #main{
	background:#ffffff;
 	/* background-repeat: no-repeat !important; 
	background-size: contain; */
	margin : 0 auto 0 auto;
	width: 100%;
/* 	max-width: 1349px !important; */
	background-image:url("images/img/home/goods_bg.png");
}
#header, x:-moz-any-link {
	/*margin: 23px 0 0 0;*/
}


#content {
/* 	margin-top: 252px; */
	margin-bottom: 0;
}

/* @media screen and (max-width: 1000px) {
	#content {
		margin-top: 28%;
		margin-bottom: 0;
	}
	
	#wrapper #main{
		background-image: url("../../../../wp-content/themes/Avada/images/img/home/top_characters_bg.png");
		width: 360 !important;
	}
	
	.avada-row {
		padding: 0 !important;
	}
	
	.type-post {
		margin-left: 10px !important;
		margin-right: 10px !important;
	}
	iframe#twitter-widget-0.twitter-share-button {
		margin-bottom: 6px;
	}
	.social_but {
		margin-bottom: 8px !important;
	}
	.single_post_border_2 {
		margin-top: 50px !important;
		position:relative;
	}
}

@media screen and (max-width: 768px) {
	#wrapper #main{
		padding: 0;
	}
	
	.type-post {
		margin-left: 5px !important;
		margin-right: 5px !important;
	}
	.avada-row {
		padding: 0 !important;
	}
}
@media only screen and (device-width: 768px) {
  For general iPad layouts
	.fb_edge_widget_with_comment{
		overflow: initial !important;
		top:-5px !important;
	}
}
@media screen and (max-device-width: 480px) {
	.fb_edge_widget_with_comment{
		overflow: initial !important;
		top:-5px !important;
	}
} */
.single-post #content{
	float:right!important;
	width: 660px;
    margin-bottom: 0;
	overflow:hidden;
}
.Post_Content{
	width:582px;
}
.Con_img_title{
	width:582px;
	height:250px;
}
.left_con_img{
	width:250px;
	height:250px;
	float:left;
	border:2px solid #cccccc;
}
.right_con{
	float:left;
	margin-left:26px;
}
ul.S_img_con{
	height:100px;
	list-style-type: none;
	padding-left:0px;
	margin-top: 20px;
	margin-bottom: 20px;
	}
ul.S_img_con li.s_size	{
	width:100px;
	height:100px;
	display: inline; 
	
	overflow:hidden;
}
.img-container{
	border:1px solid #cccccc;
	margin-right:18px;
	float:left;
	width:100px;
	height:100px;
	 position: relative;
    display: inline-block;  
    *display: inline;
    zoom: 1;
}
.img-container a img{
	 display: block;
	 height:100px;
}

ul.S_img_con li.S_img5 .img-container{
	margin-right:0!important;
	
}
.con_txtone{
	 font-size:14px;
	 color:#000000;
}
.text_con{
	margin-top:50px;
}
.date_con{
	text-align:left;
	margin-left:0px;
	padding-left:0px;
}
.date_con span{
	margin-left:-9px;
	padding-left:0px;
}
.text_content{
	padding-top:20px;
	padding-bottom:20px;
}
.post-new{
	margin-bottom:10px;
}
.single-post .Post_title{
	max-width:302px;
	overflow:hidden;
	height:auto;
}
.single-post .Post_title h1.entry-title{
	margin-bottom:0px;

}
.single-post .Post_title h1.entry-title a{
	color:#0033FF!important;
	font-size:36px;
}
.headbckgrnd{
	width:578px;
	height:30px;
	background-color:#CECECE;
	color:#FFFFFF;
	font-size:18px;
	text-align:center;
	font-weight:bold;
	line-height:32px;		
}
.con_texttwo_img{
	widht:572px;
	border-left:4px solid #CECECE;
	border-right:4px solid #CECECE;
	border-bottom:4px solid #CECECE;
	margin-top:90px;
	height:170px;
	margin-bottom:38px;
	
}
.textcon_two{
	color:#000000;
	font-size:14px;
	margin: 15px;
}
.textcon_two span{
	margin-left:-9px;
}

.single-post .greyback{
	display:none;
}

.sns_icon{
	height:32px;
	width:100%;
	margin-top:15px;
}
.sns_icon .fb-like, .sns_icon .tweeter, .sns_icon .medialine{
	float:left;
}
.sns_icon .medialine a img{
	height:20px!important;
}
.postdet_list{
	display: inline-table;
	width: 142px;
	height: 190px;
}
.postdet_img{
	width:100px;
	height:100px;
	display: inline-block;
}
.postdet_det{
	text-align:left;
}

.Product_name{
	margin-bottom:40px;
	margin-top: -30px;
}
.fancybox-margin{
	position: relative !important;
	margin-top: -35.5px !important;
	height: 60px !important;
	margin-bottom: 11px !important;
}
@media \0screen{
    #main{
       padding-top:1px;
    }
}
.single-post .entry-title,
.single-post .titledet_post a{
	color: #0039FF;
}
.single-post .titledet_post a:hover{
	color:#333;
}
.single-post .titledet_post a{
	font-weight: bold;
	font-size: 12px;
}
.single-post .titledet_post{
	width: 100px;
}
.sidebar_hidden {
	visibility: hidden;
}
hr.bord_top {
	border-top:3px solid rgb(85, 121, 245);
	margin-left: -36px;
	margin-top: 6px;
	width: 655px;
}
body.single div#wrapper div#main div.avada-row div#sticker{
    width:240px;
    min-height: 890px;
} 
body.single div#wrapper div#main div.avada-row div#sidebar {
    /* margin-top: 12px;  */
    float:left !important;
    display:inline-flex;
}
body.home .grid-layout .post-content-container {
    padding: 11px !important;
}